* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
}

#wrap {
    width: 600px;
    height: 600px;
    float: left;
}

table {
    border-collapse: collapse;
    box-sizing: border-box;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
}

tbody tr:first-child td {
    border: none;
}

tr:nth-child(1) td:nth-child(n) {
   border-bottom: 2px solid #000; 
}

tr:nth-child(1) td:nth-child(1) {
    border: none;
}

tr:nth-child(11) td:nth-child(n) {
   border-bottom: 2px solid #000; 
}

tr:nth-child(11) td:nth-child(1) {
    border-bottom: none;
}

td:nth-child(1) {
    border: none;
}

td:nth-child(2) {
    border-left: 2px solid #000;
}

td:nth-child(11) {
    border-right: 2px solid #000;
}

.square-style {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-top: 15px solid #3cc;
    background: #ec2;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

#input-wrap {
    padding-top: 20px;
}

.commond-wrap {
    margin: 15px 0;
}

#command-input {
    width: 380px;
    height: 125px;
    box-sizing: border-box;
    padding: 0px 5px;
    border: 1px solid #ccc;
    resize: none;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-family: "微软雅黑";
}

.line-list {
    float: left;
    width: 25px;
    height: 125px;
    background: #ccc;
    color: #fff;
    list-style: none;
    text-align: center;
    overflow: hidden;
}

.line-list li {
    line-height: 28px;
}

#run {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background: #8af;
    color: #fff;
    vertical-align: bottom;
}

.commond-tip p {
    font-size: 12px;
}