* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
    padding: 10px;
}

#Queue-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#Queue-list li {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: inline-block;
    font-size: 8px;
    margin: 30px 3px;
    width: 30px;
    color: #fff;
    text-align: center;
}

#input-box {
    box-sizing: border-box;
    height: 30px;
    width: 250px;
    padding: 10px;
}

fieldset {
    border: none;
    margin-top: 10px;
}

fieldset button {
    border: none;
    width: 100px;
    height: 30px;
}