* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "微软雅黑";
}

#tip {
    margin: 50px 50px;
}

#wrap {
    margin: 50px 50px;
}

input {
    margin: 5px;
    height: 25px;
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.success {
    color: green;
}

.fail {
    color: red;
}