body, header, div, img, em, h2, article, ol, li ,a, main {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
}

header {
    height: 100px;
    border-bottom: 1px solid #ccc;
}

#title > img {
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 10px;
}

#title > img + h2 {
    line-height: 100px;
    color: #999;
}

main {
    margin-left: 30px;
    margin-top: 30px;
}

main > article > h2 {
    margin-bottom: 20px;
}

.task-list li {
    margin-bottom: 5px;
    list-style: none;
}

.link-color {
    color: #999;
}

.task-list li a {
    text-decoration: none;
}

.code-page {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
    background: #3cc;
    color: #fff;
    margin-left: 5px;
    transition: all .5s ease;
}

.code-page:hover {
    transform: rotate(-15deg);
}

.demo-page {
    display: inline-block;
    width: 45px;
    height: 20px;
    border-radius: 5px;
    margin-left: 10px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #9933CC;
    transition: all .5s ease;
}

.demo-page:hover {
    transform: rotate(15deg);
}

.review-page {
    display: inline-block;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #CC0000;
    transition: all .5s ease;
}
